<footer>
    <div class="f-step">   
    <div class="f-info">   
        <div class="f-info-socials">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/in/himanshu-joshi01/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/himanshu-joshi01/Atithi-Devo-Bhava"><i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-info-brand" >
            &copy; Atithi Devo Bhava PrivateLimited
        </div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
    </div>
  </footer>
  