<footer>
    <div class="f-step">   
    <div class="f-info">   
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div class="f-info-brand" >
            &copy; Atithi Devo Bhava PrivateLimited
        </div>
        <div class="f-info-links">
            <a href="">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
    </div>
  </footer>
  