<%- layout("/layouts/boilerplate.ejs") %>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="unf1">
       <h1><%=statusCode%></h1>
    </div>
    <div class="unf2">
        <p class="m-5"><%=message%></p>
        <div class="d-flex">
            <a href="/listings" class="btn btn-dark mx-3">Edit Post</a>
        <a href="/listings/new" class="btn btn-dark">Create Post</a>
        </div>
        
    </div>
</body>

</html>