:root{
    --primary:whitesmoke;
    --secondary:black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--secondary) !important;
    background-color: var(--primary) !important;
    
}


.logo{
   
    height: 90px;
    width: 90px;
   
}

.login{
   margin-bottom: 10% !important;

}


body input,textarea,select,input::placeholder,textarea::placeholder{
    color: var(--secondary)!important;
    background-color: var(--primary)!important;
}

.navbar
{
    height: 4.5rem !important;
    width: 100% !important;
    background-color: var(--primary)!important;
    display: flex !important;
    text-align: center !important;
     align-items: center !important;
     border: none !important;
   
}


.container{
    
    flex: 1 !important;
  
}

.nav-btn{
    width: 20% !important;
    height: 2rem !important;
    /* background-color: var(--secondary); */
    background-color: orange;  
    display: flex;
    justify-content: center!important;
    margin-left: 30%;
    padding-top: .5rem;
    border-radius: 1rem !important;
    padding-left: 3rem !important;
   
}

.nav-btn a{
padding-right: 3rem !important;
/* color: var(--primary) !important; */
color: black !important;
opacity: 1 !important;

   
}


.nav-link{
    color: var(--secondary) !important;
    opacity: .3;

}

.nav-link:hover{
    opacity: 1;
    transition: ease-in-out .4s;
   
}



.f-links a{
    text-decoration: none;
    color: var(--secondary);
}


.f-links a:hover{
    text-decoration: underline;
}


.all-card{
    border:none !important;
    width: 28rem !important;
    margin: 3rem 0rem 3rem 0rem !important;
}


.all-card-img{

    z-index: 2;
    min-height: 17rem !important;
    border-radius: 1rem !important;
    transform: translateY(25%);
    transition: 1s;
   
}


.all-card-body{
    padding-top: 2rem;
    z-index: 1;
    transform: translateY(-50%);
    transition: 1s;
} 

 
.all-card:hover { 
    .all-card-img{
      transform: translateY(0%);
    }
    .all-card-body{
        transform: translateY(0%);
      }
}

    .hj{
        background-color: brown !important;
    }
    


    .unf1{
        height: 40vh;
        width: 100%;
        background-color: var(--primary);   
    } 
    
    .unf1 h1{
        font-size: 15rem;
        color: grey;
        padding-top: 3.1rem;
        padding-left: 33rem ;
    }
    
    .unf2{
        height: 40vh;
        width: 100%;
        background-color: grey;
        font-size: 2rem;
        font-family: Arial, Helvetica, sans-serif ;
        font-weight: bold;
        display:flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        color: var(--primary);
        
    }
    .errbtns{
        height: 3rem;
        width: 15rem;
        text-decoration: none;
        color: grey;
        border: 1px solid var(--secondary);
        border-radius:2rem;
        background-color: var(--primary);
        text-align: center;
        padding-top: 1rem;
    
    }
.profile{
    min-height: 70vh;
    max-width: 100vw;
}

.navdp img  {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-bottom: .5rem;
    margin-left: 5px;
}

/* footer */

.f-step{
    width: 100%;
    height: 20vh;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.f-info-links a {
    text-decoration: none;
    
}

.f-info-links,
f-info-socials,
f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
}

.f-info-socials i {
    margin-top: 1rem;
    margin-right: 1rem;
}

.f-info-links:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    color: var(--secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


/* map*/
#map{
    width: 80vh;
    height: 400px;
 }
 
 /* media query */


 
 @media (max-width: 1000px) {

    .container-fluid{
        background-color: var(--primary);
      
    }

    .navbar-toggler{
        background-color: grey !important;
    }

    .navbar-nav a {
        margin: 0.5rem;
        width: 100%;
        color: var(--secondary) !important;
    }

    .navbar-nav.ms-auto {
        margin-top: 0;
        
    }

    .search-inp,
    .search-btn {
        width: 100%;
        margin-top: 10px;
    }

    /* .col-6.offset-3 {
        width: 100%;
    } */
    .nav-btn{

        margin-left: 20%;

    }

}

@media (max-width: 700px) {
    .container{
        margin-top: 2rem !important;
    }
 
    .nav-btn{
        width: 30% !important;
        display: flex;
        justify-content: space-evenly!important;
        margin-left: 0%;
padding-left: 0rem !important;
    }

    .nav-btn a{
        padding-right: 0rem !important;
           
        }

    .f-info {
        height: auto;
        padding: 1rem;
    }

    .f-info-socials,
    .f-info-brand,
    .f-info-links {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }

    .f-info-links a {
        display: block;
        margin: 0.5rem 0;
    }

    .f-info-socials i {
        margin: 0 0.5rem;
    }

    /* .row-cols-lg-3 {
        flex-direction: column;
    } */

    .all-card {
        width: 100%;
    }
    .review-card{
        width: 40vh;
    }
    
    #map{
        width: 40vh;
    }

    .login{
        margin-bottom: 60% !important;
    }

.signup{
    padding-bottom: 20% !important;
  
}
    
}


/* ********************************profile page********************************** */


.profile {
    width: 55rem !important;
    margin: 0 auto;
    padding: 20px;
    color: var(--secondary) !important;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    margin-left: 20px;
}

.profile-info h2 {
    margin-bottom: 10px;
}

.profile-info p {
    margin-bottom: 5px;
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-stat {
    text-align: center;
}

.profile-stat h3 {
    margin-bottom: 5px;
}

.profile-description {
    margin-bottom: 20px;
}

.profile-reviews {
    margin-bottom: 20px;
}

.review {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 5px;
    width: 25rem!important;
 
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.review-info h4 {
    margin-bottom: 5px;
}

.review-info small {
    font-size: 12px;
}

.review-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.review-rating {
    color: #007bff;
    
}
/*.........................Feedssss.........................*/


#create-post {
	margin-bottom: 20px;
}

#create-post textarea {
    background-color: var(--primary);
	width: 100%!important;
	height:  6rem;
	padding: 10px;
	font-size: 1rem;
	border: 3px solid var(--secondary);
    border-radius: 1rem;
  
}

#create-post textarea::placeholder{
    color: rgb(185, 179, 179) !important;
}

#posts-list {
	list-style: none; 
	width:40%;      
    background-color: var(--primary);   
}


.post{
    /* box-shadow: 0px 2px 4px var(--secondary); */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	background-color: var(--primary);
	padding: 1rem 1rem 1rem 1rem ;
	border-radius: 10px;
    color: var(--secondary);
	
}

#posts-list .post-header {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#posts-list .post-header img {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 10px;
}


#posts-list .post-header p {
	margin: 0;
	font-weight: bold;
}

#posts-list .post-header time {
	color: #888;
	font-size: .8rem;
	margin-left: 0px;
}


#posts-list .postImage img{

object-fit: contain; 
width: 100%;
aspect-ratio: 1/1;
border-radius: 0.25rem;
margin-bottom: 1rem;


}

#posts-list .post-actions {
	display: flex;
	align-items: center;
	margin-top: 10px;
	justify-content:flex-start;
	padding-left: 0%;

}

.fa-heart{
    font-size: 1.5rem;
}

.unlike{
    color: red;
}

#comment{

    margin-left: .8rem;
    width: 70% !important;
    border-radius: 1rem !important;
    border: 2px solid var(--secondary);
}
#commentBtn{
    margin-left: .5rem;
     width: 3rem;
     border: 1px solid black;
     border-radius: 1rem;

}



@media (max-width: 700px) 	{
	#posts-list {
		list-style: none; 
		width:96%;
		margin: 2%;	
				
	}
}


/* .......................DARKMODE ...............*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
    margin-top: 0.4rem !important;
    margin-right: 5px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
 
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .postbtn{
    display: flex;
    justify-content: flex-end;
  }