<%-layout("/layouts/boilerplate.ejs") %>

   <div class="col-6 offset-3 login">

        <h1 class="heading">Login</h1>
        <form action="/login" method="post" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input required name="username" class="form-control" placeholder="enter username" type="text">
                <div class="invalid-feedback">Please Enter Username</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input required name="password" class="form-control" placeholder="enter password" type="password">
                <div class="invalid-feedback">Please Enter Password</div>
            </div>

            <button class="btn btn-dark btn-col">Login</button>

        </form>
</div>