<%- layout("/layouts/boilerplate.ejs") %>
        <div class="col-6 mb-5 offset-3 signup">
      
       <h3>Sign up here</h3>
      <form method="POST" action="/signup" novalidate class="needs-validation">
          <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" name="username" id="username" placeholder="Enter your username" class="form-control" required>
              <div class="valid-feedback"> looks good!</div>
              <div class="invalid-feedback">Add a Catchy Title</div>
          </div>

          <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" id="email" placeholder="Enter your Email" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" placeholder="Enter your Password" class="form-control" required>
        </div>
        <button class="btn btn-outline-success">Signup</button>
        </form>
      

    
    </div>
